/* General Styles */
html,
body {
  background-color: #040710;
  color: white; /* Mantén el texto en blanco para contrastar con el fondo oscuro */
  font-family: "Cinzel", serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
p {
  color: #eceff4; /* Texto claro */
}

.proximamente{
  cursor: not-allowed;
}
/* NAV */
nav {
  background-color: #040710; /* Azul oscuro */
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  z-index: 1000;
  border-bottom: #bf9b30 2px solid;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly; /* Centra los elementos */
  align-items: center;
  margin: 0;
  padding: 0;
}
nav ul li {
  margin: 0 20px; /* Añade un poco de espacio entre los elementos */
}
nav ul li a {
  color: #eceff4;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease;
}
nav ul li a:hover {
  color: #d4af37; /* Dorado al pasar sobre el enlace */
}

  /* NAV LOGO */
  nav ul li.logo {
    cursor: pointer;
    margin: 0 50px; /* Ajusta el espacio alrededor del logo */
  }
  nav ul li.logo img {
    width: 50px;
    height: auto;
  }
  .nav-toggle {
    display: none;
}

/* GENERAL DIVS */
.espacio {

  text-align: center;
}
#Zenith {
  padding: 30px 20px;

}
.color {
  background-color: #00344b;
}


/* DIV INICIO
 */
div.inicio {
  top: 100px;
  background-color: rgba(10, 31, 56, 0.7);
  background-image: url("../IMG/clouds-lg_edited2.png"), url("../IMG/Estrellas.png");
  background-blend-mode: darken, normal;
  background-size: 100% 100%, auto;
  background-position: center 20px;
  background-repeat: repeat-x, repeat;
  color: white;
  text-align: center;
  font-size: 1.5em;
  padding-top: 100px;

  animation: moveClouds 20s linear infinite; /* Solo el primer fondo se anima */
}
@keyframes moveClouds {
  0% {
    background-position: 0, center bottom;
  }
  100% {
    background-position: -99vw, center bottom;
  }
}

.inicio h1 img {
  max-width: 100%; /* Ajusta la imagen de la intro */
}
.Img{
  align-self: flex-start;
  align-items: center;
  width: 3vw;
  height: auto;
}
.containerLogos{
  display:flex;
  flex-wrap:wrap ;
  justify-content: space-evenly;

}
.espacio.inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}
button {
  background-color: #d4af37;
  color: #040710;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #bf9b30; /* Más oscuro al pasar sobre el botón */
  color: #eceff4; /* Texto claro */
}


/* DIVS TEXTO/IMAGEN */

.flex-container .imagen img {
  width: 100%; /* Asegúrate de que la imagen ocupe el ancho del contenedor */
  height: 100%; /* Define una altura si es necesario */
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
  object-position: center; /* Centra la imagen dentro del contenedor */
  right: 0px;
  left: 0px;
}
.flex-container .texto {
  flex: 1;
  padding: 20px;
}
.flex-container .imagen {
  flex: 0 0 40%;
}

.flex-container .texto {
  flex: 0 0 60%; 
  font-size: 18px;
}
.flex-container {

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ZENITH */
.flex-container2 {
  height: auto;
  padding-right: 0px; /*Para que la imagen este ajustada al borde*/
  background-image: url("../IMG/Boceto2.png");
  background-position: center;
  background-size: cover;
}
.zenithtxt {
  text-align: center;
  width: 20%;
  margin: 30px;
  background-color: rgba(0, 52, 75, 0.7);
  flex: 1;
}
.zenithimg {
  flex: 1;
}
#centrado {
  align-items: center;
  display: flex;
  margin: 0, auto;
}

/* FORMULARIO */
form {
  margin: 20px;
  width: auto;
}
.proximamente{
  margin-bottom:20px
}

.name-fields {
  display: flex;
  justify-content: space-between;
}

.field-container {
  flex: 1;
}

.field-container:not(:last-child) {
  margin-right: 40px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #d4af37;
  border-radius: 3px;
  background-color: #2c2f48;
  color: white;
}

textarea#mensaje {
  width: 98%;
  min-width: 98%;
  max-width: 49vw;
  min-height: 3vh;
  height: 100%;
  max-height: 15vh;
}

div#Contacto {
  background: linear-gradient(#00344b 80%, #040710);
}
div#Contacto>h1{
  margin-top:0px;
  padding-top:20px;
}

div#Contacto div.contener {
  display: flex;
}
div.borrador>h1, div.borrador>h2, div.borrador>h3{
  text-align: center;
}
div#Contacto div.borrador {
  text-align: left;
  margin: 1vw;
  flex: 2;
}
div#Contacto div.uno {
  margin: 1vw;
  flex: 2;
}
div#Contacto div.dos {
  margin: 1vw;
  flex: 1.5;
}
/* REDES SOCIALES */
.grid_iconos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

.grid_item img {
  width: 65px;
  height: 65px;
  transition: transform 0.3s ease;
}

.grid_item img:hover {
  transform: scale(1.1);
}
/* FOOTER */
footer {
  background-color: #040710;
  padding: 40px;
  color: #eceff4;
  text-align:center
}

footer .footer-element {
  margin: 20px 0;
}

footer h2 {
  color: #d4af37;
  margin-bottom: 10px;
}

footer a {
  color: #d4af37;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}





/* TEAM/EQUIPO */
.clear{
  text-decoration: none;
}
body.team{
  padding-top: 79px;
  background-color: #00344b;
}
.team h1{
  color :#d4af37;
  text-align: center;
}
div.teamflex{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-items: center;
 
  padding: 1vw;
  margin: auto;
  max-width:90%;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
  color:white;
  background-color:#00212f;

}
@media (max-width: 1440px) {
  div.teamflex{
    display: grid;
    grid-template-columns: repeat(4,1fr);}

}
.teamIndividual img{
  max-width:15vw;
}
.teamIndividual h3,.teamIndividual p{

text-align: start;
overflow-wrap: break-word;
hyphens: auto;

}
.teamIndividual{
  align-items: flex-start;
  border: #d4af37 solid 2px;
  width: 15vw;
  border-radius: 15px;
  padding: 10px;
  margin:10px;
}
/*  ORDEN ICONOS  */
.Linkedin{order:0;}
.Artstation{order:10;}
.Github{order:20;}
.Webpropia{order:50;}
.Youtube{order:30;}
.Instagram{order:40;}

/* RESPONSIVE */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0; /* Ajusta los márgenes para móviles */
  }

  .grid_iconos {
    grid-template-columns: repeat(2, 1fr);
  }

  .espacio {
    padding: 50px 10px;
  }
}

/* Adaptabilidad para pantallas pequeñas */
@media (max-width: 1024px) {
}


/* Estilos para móviles (ancho menor a 768px) */
@media (max-width: 767px) {
.responsive{
display: none;
}

  /* Ocultar los links y mostrar el botón de tres barras */
  #nav-links {
    display: none;
    align-items: center;
    flex-direction: column;
    width: 100%;
    top: 60px;
    left: 0;
    background-color: #040710;
  }

  #nav-links li {
    text-align: center;
    padding: 10px 0;
  }

  .nav-toggle {
    display: block;

    cursor: pointer;
  }

  /* Mostrar el menú cuando se active la clase "active" */
  #nav-links.active {
    display: flex;
  }

.nav-container {
    flex-direction: column;
    align-items: flex-start;
}

/* Ocultar el menú inicialmente en móviles */
ul {
    display: none;
    flex-direction: column;
    width: 100%;
}

.boton {
    text-align: left;
    width: 100%;
}

.boton a {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #040710;
    color: white;
}

.logo {
    display:none;
    text-align: center;
    margin: 20px 0;
}

/* Mostrar el botón del menú en móviles */
.nav-toggle {

}

/* Mostrar el menú cuando esté activo */
ul.show {
    display: flex;
}
}

.back{
  background-color: red;

}

  #nav-links.active {
    display: flex;
  }